<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[[page:title()]]]</title>
    <link rel="stylesheet" href="/nitrogen/lib.32.css">
    <script src="/nitrogen/lib.32.js" type="text/javascript" charset="utf-8"></script>
  </head>
</html>
<body>
  <div class="wrap">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">[[[helper_ui:flash_element()]]]</div>
          <div align="center" class="row">
            <div class="span4 offset4">
              <h3>OES</h3>
            </div>
            <div class="span4">
              <div>[[[helper_admin:menu()]]]</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div>[[[page:layout()]]]</div>
    </div>
    <div class="push"></div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div align="center" class="muted credit"><span>[[[locale:get(footer_copyright)]]]</span><span>[[[helper_ui:oe2version()]]]</span><span class="hidden-print"><a href="http://www.weshinetech.biz" target="_blank">http://www.weshinetech.biz</a></span><span class="hidden-print"><a href="mailto:support@weshinetech.biz" target="_blank">support@weshinetech.biz</a></span></div>
      </div>
    </div>
  </div>
  <script>[[[script]]]</script>
</body>