.footer
	.container
		.row
			.muted.credit(align="center")
				span [[[locale:get(footer_copyright)]]]
				span [[[helper_ui:oe2version()]]]
				span(class="hidden-print")
					a(href="http://www.weshinetech.biz", target="_blank") http://www.weshinetech.biz
				span(class="hidden-print")
					a(href="mailto:support@weshinetech.biz", target="_blank") support@weshinetech.biz
