.footer
	.container
		.row
			.muted.credit(align="center")
				span [[[locale:get(footer_copyright)]]]
				span
					a(href="http://www.weshinetech.biz", target="_blank") http://www.weshinetech.biz
				span
					a(href="mailto:support@weshinetech.biz", target="_blank") support@weshinetech.biz
