
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>[[[page:title()]]]</title>
  <link rel="stylesheet" href="/nitrogen/lib.css"/>
  <script src="/nitrogen/lib.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/x-mathjax-config">MathJax.Hub.Config({root: "/nitrogen/mathjax", extensions: ["mml2jax.js"], jax: ["input/MathML","output/HTML-CSS"], menuSettings: {zoom: "Hover", zscale: "200%"}, MathMenu: {showRenderer: false}, "HTML-CSS": {availableFonts: ["TeX"], preferredFont: "TeX", imageFont: null}});</script>
  <script type="text/javascript" src="/nitrogen/mathjax/MathJax.js"></script>
</head>