!!!
html
	include head
body
	.wrap
		include navbar
		.container-fluid
			.row(align="center")
				h2 [[[configs:get(customer_text)]]]
			.row
				div [[[page:layout()]]]
		.push
	include footer
	script [[[script]]]
