!!!
html
head
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	meta(http-equiv="X-UA-Compatible", content="chrome=1")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	title ~s
body
	div(align="center")
		img(src!="http://localhost~s")
	h2(align="center", style="font-family: Arial") ~s - ~s

	hr
	div(align="center", style="font-size: 10px; font-family: Courier New") ~s
	hr

	div(align="center", style="font-size: 10px;")
		span ~s, http://www.weshinetech.biz, support@weshinetech.biz

	script window.print();
